---
layout: default
---
<script>
    function sendMail() {
        alert("no email sending..this is a demo site");
        /*
        $.ajax('https://api.mailgun.net/v3/sandboxc390aca07b594c48a282348d48e1042e.mailgun.org/messages',
        {
            type:"POST",
            username: 'api',
            password: 'key-8f7d72da06e3d3ac656128e4998529c3',
            data:{
                "html": "<h1>TITLE-HERE</h1>",
                "subject": "Hey you, awesome",
                "from": "User<contact@shegiye.com>",
                "to": "<antenehgeb@gmail.com>"
            },
            success:function(a,b,c){
                console.log( 'mail sent: ', b );
            }.bind(this),
            error:function( xhr, status, errText ){console.log( 'mail sent failed: ', xhr.responseText );}
        })*/
}
</script>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>Photography</strong> by Mesfin Adugna</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
            {% if image.path contains 'fulls' %}
                <article class="thumb">
                    <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                    <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt="" data-name="{{ image.name }}"/></a>
                    <!--<h2></h2>
                    <p></p>-->
                </article>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>Hey there, my name is Mesfin Adugna (Ethiographics photography)</h2>
                    <p>{{ site.bio }}</p>
                    <p>{{ site.publicise }}</p>
                </section>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        <li><a href="{{ site.social_urls.facebook }}" class="icon fa-facebook"><span
                                class="label">Facebook</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.twitter }}" class="icon fa-twitter"><span
                                class="label">Twitter</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.instagram }}" class="icon fa-instagram"><span
                                class="label">Instagram</span></a>
                        </li>
                        <!--
                        <li><a href="{{ site.social_urls.dribbble }}" class="icon fa-dribbble"><span
                                class="label">Dribbble</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.github }}" class="icon fa-github"><span
                                class="label">GitHub</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin"><span
                                class="label">LinkedIn</span></a>
                        </li> -->
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}. Design: {{ site.web_design }}
                </p>
            </div>
            <div>
                <section>
                    <h2>Get in touch</h2>
                    <form method="get">
                        <div class="field half first">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="button" onclick="sendMail();" value="Send" class="special"/></li>
                            <li><input type="reset" value="Reset"/></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>
</div>
